.vscode/
node_modules/
build/
amc.db3
deployment/release/amc/opt/amc/amc
deployment/release/amc/opt/amc/static
deployment/release/amc/opt/amc/mailer
amc
*.todo
amc.db.old
amc.db

aerospike-amc-enterprise-*.deb
aerospike-amc-enterprise-*.rpm
aerospike-amc-enterprise-*.tar.gz

.71e384d8029d70a336275f921ad8b1f595c99da7
.05294f73cd9a9a4b5633cc6b9b64eb362bddcae1
