.as-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
	display: inline-block;
}

.as-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid black;
	display: inline-block;
}

.as-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;

	border-left: 5px solid black;
	display: inline-block;
}

.as-arrow-left {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 

	border-right:5px solid black; 
	display: inline-block;
}
