.as-header {
  background-color: #cc0000;
  height: 60px;
}

.as-logo {
  padding: 10px;
}

.as-leftpane {
  border-right: 1px solid lightgray;
}

.as-toolbar {
  border-bottom: 1px solid darkgray;
  line-height: 40px;
  height: 40px;
  font-size: 18px;
}

.as-maincontent {
  height: 100%;
}

.as-disconnected {
  color: #666;
}

.as-selected {
  background-color: lightgray;
}

.as-tree-list-item {
  height: 30px;
  line-height: 30px;
}

.as-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
	display: inline-block;
}

.as-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid black;
	display: inline-block;
}

.as-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;

	border-left: 5px solid black;
	display: inline-block;
}

.as-arrow-left {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 

	border-right:5px solid black; 
	display: inline-block;
}

.as-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  font-size: 12px;
  line-height: 30px; 
  background-color: #c20000;
  color: white;
}

.as-error-text {
  color: red;
  font-size: 12px;
}

.as-warning-text {
  color: orange;
  font-size: 12px;
}
