.as-header {
  background-color: #cc0000;
  height: 60px;
}

.as-logo {
  padding: 10px;
}

.as-leftpane {
  background-color: #eee;
  border-right: 1px solid lightgray;
  height: 100%;
}

.as-maincontent {
  height: 100%;
}

.as-arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-bottom: 5px solid black;
	display: inline-block;
}

.as-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;

	border-top: 5px solid black;
	display: inline-block;
}

.as-arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;

	border-left: 5px solid black;
	display: inline-block;
}

.as-arrow-left {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent; 

	border-right:5px solid black; 
	display: inline-block;
}

.as-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px; 
  background-color: lavender;
}
