$section-bgcolor: #636363;
$section-color: white;

/* any element which is an action on the section header */
$section-header-action-color: #88abfc;

$err-color: red;
$warn-color: orange;

/* same as bootstrap */
$link-color: #0275d8;

$hover-color: rgba($link-color, 0.85)

